body {
  background-image: url("https://d2w9rnfcy7mm78.cloudfront.net/24451097/original_7f998d8193481546d3393bfa69b7cb25.gif?1698754820?bc=0");
  background-repeat: repeat;
  background-size: cover;
  background-color: #cccccc;
}

.layout {
  width: 1366px;
  height: 368px;

  display: flex;
  gap: 25px;

  justify-content: right;
  align-items: right;
}

.layout4 {
  width: 1366px;
  height: 368px;
  display: flex;
  gap: 25px;
  justify-content: left;
  align-items: center;
}

.layout3 {
  width: 1366px;
  height: 768px;

  display: flex;
  gap: 25px;

  justify-content: center;
  align-items: center;
}

.big {
  font-size: 30px;
  color: red;
  letter-spacing: -3px;
}

.layout2 {
  width: 1366px;
  height: 68px;

  display: flex;
  gap: 25px;

  justify-content: center;
  align-items: center;
}

.big2 {
  text-align: center;
  letter-spacing: -10px;
  font-size: 100px;
  left: 0px;
  top: 0px;
  z-index: -1;
  font-style: oblique;
  padding-right: 30px;
}

.big3 {
  font-size: 30px;
  text-align: right;
  letter-spacing: -3px;
  position: absolute;
}

h1 {
  color: white;
  text-align: left;
  font-weight: normal;
  padding-left: 10px;
  letter-spacing: -4px;
  font-size: 40px;
}

#find {
  height: 400px;
  width: 400px;
  object-fit: cover;
}

#find2 {
  height: 200px;
  width: 200px;
  object-fit: cover;
  left-margin: auto;
}

#found {
  color: white;
  font-size: 10px;
  letter-spacing:-3px;
}
